header {
	color: #fff;
	background:linear-gradient(90deg,rgba(254, 164, 164, 1),rgba(255, 190, 167, 1));
	width: 100%;
	height: 45px;
	padding: 0 15px;
	position: fixed;
    top: 0;
	left: 0;
	z-index: 9;
}
.headerOrange{
	background:#fb6f3e;
}
header a{
	color: #fff;
	position: relative;
	z-index: 1;
}
header p{
	font-size: 14px;
    font-weight: 500;
}
.opacity-0{
	opacity: 0;
}
.content{
	padding-top: 44px;
}
.contentTop{
	padding-top: 0;
}
.nameResolutionContent{
	padding-left: 10px;
}
.nameResolutionContent .nameResolution{
	padding-right:25px;
	position: relative;
}
.nameResolutionContent .nameResolution p:first-child{
	font-size: 12px;
	color: #999;
}
.nameResolutionContent .nameResolution p:nth-child(2){
	font-size: 30px;
	color: #000;
	font-weight: bold;
	position: relative;
}
.nameResolutionContent .nameResolution p:nth-child(2)::before{
	content: "";
    width: 1px;
    background: #D2D2D2;
    height: 40px;
    display: block;
    position: absolute;
    margin-right: 10px;
    left: -10px;
}
.nameResolutionContent .nameResolution.lastLine p:nth-child(2)::after{
	content: "";
    width: 1px;
    background: #D2D2D2;
    height: 40px;
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
}
.score{

}
.score p:first-child{
	font-size: 50px;
	font-weight: bold;
	color: #9D544D;
	line-height: 42px;
}
.score p:first-child span{
	font-size: 14px;
    color: #000;
	font-weight: normal;
}
.score p:last-child{
	font-size: 12px;
    position: relative;
    top: -10px;
    left: -10px;
    color: #666;
}
.title{
	background: url(../img/titleLine.png);
	background-size: 100% 100%;
	width: 100%;
	height: 10px;
	margin-top: 30px;
    margin-bottom: 20px;
}
.title p{
	font-size: 18px;
	font-weight: bold;
	color: #000;
	line-height: 10px;
}
/*tab选项卡*/
.swiper1 {
	width: 100%;
	padding: 0 15px;
	background: #EC8B6B;
	box-shadow: 0px 2px 6px 0px rgb(203 90 84 / 53%);
}
.swiper1 .selected {
	border-bottom: 2px solid #D03D11;
	font-size: 16px;
	font-weight: 600;
}
.swiper1 .swiper-slide {
	text-align: center;
	font-size: 14px;
	height: 40px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	cursor: pointer;
	color: #fff;
}
.swiper2 {
	width: 100%;
}
.swiper2 .swiper-slide {
	/* height: calc(100vh - 50px); */
	text-align: center;
	box-sizing: border-box !important;
	overflow-x: hidden !important;
}
.scoreContent{
	background: #FFFFFF;
    box-shadow: 0px 0px 6px 0px rgb(203 90 84 / 40%);
    border-radius: 10px;
    padding: 15px 15px 0;
    margin: 15px;
}
/*进度条*/
.branch{
	margin-bottom: 15px;
}
.branch p{
	font-size: 12px;
	font-weight: bold;
}
.fw .branch{
	width: 50%;
}
.progress {
    background-color: #E5E5E5;
    border-radius: 5px;
    position:relative;
    display:block;
    margin: 0 5px 0 0;
	height: 10px;
    width: 60px;
}
.progress-done {
    border-radius: 5px;
    height: 10px;
    width: 0;
    /* transition: width 1s ease 0.3s; */
}
.progress-done.red{
	background: #EC6941;
}
.progress-done.orange{
	background: #F8B551;
}
.progress-done.yellow{
	background: #FFF45C;
}
.progress-done.lightGreen{
	background: #B3D465;
}
.progress-done.green{
	background: #32B16C;
}
.progress-done.blue{
	background: #00B7EE;
}
.progress-done.purple{
	background: #556FB5;
}
/*综合简评*/
.analysis{
	padding-bottom: 20px;
}
.analysis p.pTitle:first-child{
	font-size: 14px;
    font-weight: bold;
    color: #000;
	margin-bottom: 5px;
}
.analysis p.pTitle:first-child::before{
	content: "";
    background: #00B7EE;
    border-radius: 2px;
    width: 4px;
    height: 13px;
    display: inline-block;
    margin-right: 6px;
    position: relative;
    top: 1px;
}
.scoreContent.basicInfo{
	padding: 0;
}
.basicInfo>p{
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #dcdcdc;
	padding: 10px 0;
}
.basicInfo>div{
	padding: 10px 15px;
}
.basicInfo>div p{
	font-size: 12px;
	color: #000;
}
.basicInfo>div p span{
	margin-bottom: 5px;
}
/*遮罩层样式*/
.mask{
	position: relative;
}
.mask .comprehensiveScore{
	filter: blur(5px);
}
.score p,.mask .score img{
	display: block;
	margin: auto;
}
.mask .score p,.score img{
	display: none;
}
.lockButton{
	display: none;
}
.mask .lockButton,.mask .lockButtonSmall{
	display: block;
	position: absolute;
	top:50%;
	left: 50%;
	margin-left: -165px;
	margin-top: -22px;
	width: 330px;
	height: 45px;
	background: linear-gradient(90deg, #FC578C 0%, #F9686F 100%);
	box-shadow: 0px 2px 10px 0px rgba(226, 140, 140, 0.9);
	border-radius: 10px;
	font-size: 14px;
    color: #fff;
    line-height: 45px;
	font-weight: 500;
}
.mask .lockButton img,
.mask .lockButtonSmall img{
	width: 12px;
    height: 14px;
    margin: 0 3px;
    position: relative;
	top: -2px;
}
.lockBg{
	background: url(../img/lockBg.png);
	background-size: 100% 100%;
	height: 250px;
	margin-top: 30px;
	display: none;
}
.mask .lockBg{
	display: block;
}
.mask .maskHide{
	display: none;
}
.mask .lockBg p{
	text-align: left;
    color: #000;
    line-height: 28px;
    margin: 25px 15px;
}
.mask .lockButtonSmall {
	top: inherit;
    bottom: 45px;
    width: 320px;
	margin-left: -160px;
}
.mask .lockButtonSmall
/*字形音义*/
.glyph p{
	font-weight: bold;
	color: #9D563E;
	font-size: 13px;
	padding-bottom: 10px;
}
.glyph p:last-child{
	padding-bottom: 0;
}
.scoreContent.glyph{
	padding: 20px;
}
.textBg{
	background: url(../img/textBg.png);
	background-size: 100% 100%;
	width: 55px;
	height: 55px;
	text-align: center;
    line-height: 55px;
    font-size: 40px;
    font-weight: bold;
    color: #000;
	margin-right: 10px;
}
.chineseExplanation p{
	position: relative;
    padding-left: 15px;
	padding-bottom: 10px;
	font-size: 12px;
}
.chineseExplanation p::before{
	content: "";
    display: inline-block;
    left: 0;
    top: 3px;
    width: 10px;
    height: 10px;
    background: #B75134;
    border-radius: 50%;
    position: absolute;
}
.scoreContent.tonalAnalysis .tonality{
	background: #FEFAF4;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 15px;
}
.scoreContent.tonalAnalysis .tonality .tonalityBg{
	background: url(../img/tonalityBg.png);
	background-size:100% 100%;
	width: 100%;
	height: 80px;
}
.tonalityTone{
	padding: 12px 0;
	position: relative;
}
.tonalityTone p:nth-child(2){
}
.tonalityTone p:nth-child(2)::after{
	content: "";
    position: absolute;
    background: url(../img/line.png);
    background-size: 100% 100%;
    width: 1px;
    height: 50%;
    right: 0;
    top: 25px;
}
.tonalityTone:last-child p:nth-child(2)::after{
	content:"";
	background: none;
	display: none;
}
.tonalityBgTwo{
	background: url(../img/tonalityBgTwo.png);
	background-size:100% 100%;
	width: 100%;
	height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
	padding: 0 40px;
	margin-bottom: 20px;
}
.tonalityBgTwo .c-current{
	color: #BD644A;
}
.smallTextBg{
	background: url(../img/textBg.png);
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    font-weight: bold;
    color: #000;
    margin-right: 0;
	margin-bottom: 10px;
}
/*五行八字*/
.scoreContent.fiveEight{
	padding: 0;
}
.fiveEight table tr td{
	/*方正楷体*/
	font-family:myFirstFont;
	border-bottom: 1px solid #FFC5BB;
	border-right: 1px solid #FFC5BB;
	padding: 10px;
	color: #000;
	font-weight: bold;
}
.fiveEight table tr:last-child td{
	border-bottom: none;
}
.fiveEight table tr td:last-child{
	border-right: none;
}
.fiveEight table tr:first-child td,
.fiveEight table tr td:first-child{
	color: #531414;
}
.littleKnowledge{
	position: relative;
	border-bottom: 1px solid #D2D2D2;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.littleKnowledge:last-child{
	margin-bottom: 0;
	border-bottom: none;
}
.littleKnowledgeBg{
	width: 55px;
	height: 69px;
	position: absolute;
	right: 0;
	top: 0;
}
.goldBg{
	background: url(../img/gold.png);
	background-size:100% 100% ;
}
.woodBg{
	background: url(../img/wood.png);
	background-size:100% 100% ;
}
.waterBg{
	background: url(../img/water.png);
	background-size:100% 100% ;
}
.fireBg{
	background: url(../img/fire.png);
	background-size:100% 100% ;
}
.soilBg{
	background: url(../img/soil.png);
	background-size:100% 100% ;
}
.gold,.wood,.water,.fire,.soil{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}
.gold{
	color: #EC6941;
}
.wood{
	color: #448ACA;
}
.water{
	color: #80C269;
}
.fire{
	color: #13B5B1;
}
.soil{
	color: #556FB5;
}
.gold>span,.wood>span,.water>span,.fire>span,.soil>span{
	color: #999;
    font-weight: normal;
    padding-left: 5px;
    font-size: 12px;
}
/*诗词典故*/
.poetry{
	padding: 20px;
}
.poetry p{
	color: #000;
	font-weight: 500;
	display: flex;
	padding-bottom: 20px;
}
.poetry p span:first-child{
	color: #9D544D;
}
.poetry p span:last-child{
	flex: 1;
	font-size: 12px;
}
/*三才五格*/
.threeFive .rightTitle{
	font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #8d443d;
}
.backgroundCircle { 
	width: 140px;
	height: 140px;
    box-sizing: border-box; 
    padding: 18px; 
    border-radius: 50%; 
    background-image: -webkit-linear-gradient(60deg, #FFEBD6, #FFD1F4, #D9D0FF);  
	margin: 30px auto;
	position: relative;
}
.circle { 
	width:100%; 
    height:100%; 
    border-radius:50%; 
    background:#fff; 
}
.circle p{
	display: flex;
    flex-direction: column;
	color: #8b4039;
}
.circle p span:first-child{
	transform: scale(0.7);
    font-size: 12px;
}
.circle p span:last-child{
	font-size: 16px;
}
.BigInclusion p:first-child{
	position: absolute;
    left: 50%;
    top: -35px;
    margin-left: -15px;
}
.BigInclusion p:nth-child(2){
	position: absolute;
    left: -25%;
    top: 65%;

}
.BigInclusion p:last-child{
	position: absolute;
    right: -25%;
    top: 65%;
}
.BigInclusion p{
	font-weight: bold;
	font-size: 18px;
	color: #8B4039;
}
.inclusion p{
	color: #8b4039;
}
.inclusion p:first-child{
	position: absolute;
    left: 50%;
    top: 0;
	margin-left: -7px;
}
.inclusion p:nth-child(2){
	position: absolute;
    left: 8%;
    top: 65%;

}
.inclusion p:last-child{
	position: absolute;
    right: 8%;
    top: 65%;
}
.fivegrid{
	background: #FEFAF4;
    border-radius: 10px;
    padding: 20px 0;
    margin-bottom: 15px;
}
.fivegridBg{
	background: url(../img/fivegrid.png);
	background-size:100% 100% ;
	width: 133px;
	height: 72px;
	margin: 0 10px;
}
.fivegridBg p:first-child{
	padding-right: 22px;
}
.fivegrid p,.fivegrid .total{
	font-weight: 500;
	color: #8B4039;
}
.fivegrid .list-style-26 {
	line-height: 26px;
}
.fivegrid .total{
	border-top: 1px solid #f3e1db;
    padding-top: 5px;
    margin-top: 10px;
}
/*周易卦象*/
.hexagram{
	margin-bottom: 20px;
}
.hexagram .detailed>p{
	font-size: 18px;
	color: #326473;
	font-weight: bold;
	margin: 10px 0 10px -10px;
}
.hexagram .detailed:first-child>p{
    margin-left: 20px;
}
.hexagram .detailed .details{
    margin-bottom: 10px;
}

.hexagram .detailed .details p{
	font-size: 12px;
}
.hexagram .detailed .details .c-green{
	color: #326473;
}
.hexagram .detailed .details .c-yellow{
	color: #F8B551;
}
.hexagram .detailed .details .c-blue{
	color: #448ACA;
}
.hexagram .detailed .details .c-purple{
	color: #8957A1;
}

.hexagram .detailed .details p span{

}
.hexagram .detailed .details p img{
	width: 60px;
	height: 25px;
	margin: 0 5px;
}
.hexagram .detailed:first-child .bottomText{
	margin: 0 14px 0 24px;
}
	
.hexagram .detailed .bottomText{
	margin: 0 12px 0 0;
    font-size: 12px;
    font-weight: 500;
}
/*生肖凶吉*/
.zodiacTitle{
	background: url(../img/zodiacBg.png);
	background-size:100% 100% ;
	width: 130px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	margin: 5px auto 20px auto;
}
.personality>p{
	font-size: 12px;
	font-weight: bold;
	color: #F19149;
}
.personality>ul{
	margin: 10px 0 10px 20px;
}
.personality>ul>li{
	background: #F19149;
    border-radius: 5px;
    color: #fff;
    padding: 5px 15px;
    margin-bottom: 10px;
    margin-right: 16px;
    font-size: 12px;
}
.personality.green>p{
	color: #80C269;
}
.personality.green>ul>li{
	background: #80C269;
}
/*起名讲究*/
.search .relative,.naming{
	padding: 15px;
}
.naming{
	padding-top: 50px;
}
.search{
	position: fixed;
    width: 100%;
    top: 45px;
	background: #fefaf4;
}
.search .relative input{
	width: 100%;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px 0px rgb(237 228 216 / 90%);
    border-radius: 16px;
    border: none;
    color: #666;
    text-indent: 40px;
    line-height: 34px;
	text-align: left;
}
.search .relative .searchIcon{
	background: #fff;
    height: 34px;
    width: 40px;
    position: absolute;
    left: 15px;
    top: 15px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    line-height: 38px;
    padding-left: 15px;
}
.search .relative .searchIcon img{
	width: 16px;
    height: 14px;
    margin-top: -8px;
}
.namingList ul li{
	margin-top: 15px;
}
.namingList ul li a{
	cursor: pointer;
	display: block;
	background: #FFFFFF;
	box-shadow: 0px 2px 10px 0px rgba(237, 228, 216, 0.9);
	border-radius: 5px;
}
.namingList ul li a img{
	width: 100%;
	height: 75px;
	margin-top: 5px;
}
.namingList ul li a p{
	font-size: 15px;
    color: #000000;
    padding: 10px;
}
.namingDetail{
	padding: 25px 15px;
}
.namingDetail h1,.namingDetail h5{
	font-size: 18px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.namingDetail p,.textIndent{
	font-size: 12px;
    text-indent: 2em;
    line-height: 24px;
    padding: 10px 0;
    font-weight: 500;
}
.namingDetail h5{
	font-size: 14px;
	text-align: left;
	padding: 10px 0;
}
/*姓氏起源*/
.originSurname{
	padding: 0 15px;
    padding: 70px 15px 20px 15px;
}
.originSurnameList ul li{
	width: 25%;
	border-left: 1px solid #e5e5e5;
    padding-left: 10px;
	text-align: center;
	margin: 20px 0;
}
.originSurnameList ul li:nth-child(4n){
	border-right: 1px solid #e5e5e5;
}
.originSurnameList ul li a{
	font-size: 30px;
	font-weight: bold;
	font-family: myFirstFont;
	color: #000;
	border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
	
}
.originSurnameDetail{
	padding: 25px 15px;
}
.originSurnameDetail h1{
	background: url(../img/textBg.png);
	background-size: 100% 100%;
	width: 45px;
    height: 45px;
    font-size: 36px;
    font-weight: bold;
    font-family: myFirstFont;
    color: #000;
    margin: auto;
    text-align: center;
    line-height: 45px;
	margin-bottom: 10px;

}
.originSurnameDetail .chineseExplanation p{
	padding-left: 20px;
}
.originSurnameDetail .chineseExplanation p::before{
	top: 5px;
}
.textIndent{
	padding-left: 0!important;
	color: #666;
    font-weight: normal;
	margin-top: -20px;
}
.textIndent::before{
	display: none!important;
}
/*名字推荐*/
.titleTab{
	font-weight: 500;
	color: #999;
    background: #fff;
    width: 100%;
    height: 40px;
	line-height: 40px;
	position: fixed;
	top: 45px;
    padding: 0 15px;
	z-index: 1;
}
.titleTab ul li{
	position: relative;
}
.titleTab ul li.active::before{
	content: "";
	background: #EC5141;
	width: 100%;
	height: 3px;
	border-radius: 4px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	bottom: 0;
}
.contentTabList {
	margin: 15px;
    padding-top: 30px;
}
.freeRecommend{
}
.freeRecommend li{
	background: #FFFFFF;
	box-shadow: 0px 2px 15px 0px rgba(233, 212, 180, 0.5);
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
	
}
.freeRecommend .nameResolutionContent .nameResolution p:nth-child(2){
	font-size: 24px;
}
.freeRecommend .nameResolutionContent .nameResolution img{
	margin-top: 30px;
	position: relative;
    top: -3px;
}
.freeRecommend .score p:first-child {
    font-size: 30px;
    line-height: 28px;
}
.freeRecommend .score p:last-child {
    position: inherit;
    top: inherit;
    left: inherit;
}
.freeRecommend .score{
	margin-top: -25px;
	text-align: right;
    margin-right: 20px;
}
.collection a{
	position: relative;
	justify-content: flex-end;
    margin-top: -18px;
	padding-right: 20px;
}
.collection a::before{
	content: "";
    width: 100%;
    height: 1px;
    background: #e7e7e7;
    position: absolute;
    left: 0;
    top: -8px;
}
.collection img{
	width: 15px;
    height: 14px;
    margin-right: 5px;
    position: relative;
    top: -1px;
}
.freeRecommend li .collection img.default,.freeRecommend li.current .collection img.active{
	display: block;
}
.freeRecommend li .collection img.active,.freeRecommend li.current .collection img.default{
	display: none;
}
.recommendContent,.upgrade,.optimal{
	width: 320px;
	height: 370px;
	padding: 25px 20px;
    margin: 15px auto;
}
.recommendContent{
	background: url(../img/recommendGg1.png);
	background-size: 100% 100%;
}
.recommendContent.upgrade{
	background: url(../img/recommendGg2.png);
	background-size: 100% 100%;
}
.recommendContent.optimal{
	background: url(../img/recommendGg3.png);
	background-size: 100% 100%;
}
.recommendContent h1{
	font-weight: bold;
	color: #000000;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	padding: 0 5px 0 2px;
	margin-bottom: 10px;
}
.recommendContent h1::before{
	content: "";
	background: #facd89;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	top: 15px;
    left: 0;
    z-index: -1;
}
.recommendContent.upgrade h1::before{
	content: "";
	background: #EC6941;
}
.recommendContent>p{
	position: relative;
	font-size: 12px;
	color: #000000;
	line-height: 22px;
	padding-left: 20px;
	padding-bottom: 5px;
}
.recommendContent>p::before{
	content: "";
	display: inline-block;
    left: 0;
    top: 4px;
    width: 10px;
    height: 10px;
    background: #fff;
	border:2px solid #FACD89;
    border-radius: 50%;
    position: absolute;
}
.recommendContent.upgrade>p::before{
	content: "";
	background: transparent;
	border:2px solid #EC6941;
}
.recommendButton{
	margin-top: 10px;
	text-align: center;
}
.recommendButton p{
	font-weight: bold;
	color: #000;
	margin-bottom: 10px;
}
.recommendButton p span.c-gray{
	font-weight: normal;
}
.recommendButton button{
	width: 80%;
	height: 40px;
	background: linear-gradient(90deg, #F96784 0%, #FF8A66 97%);
	box-shadow: 0px 1px 10px 0px rgba(203, 90, 84, 0.8);
	border-radius: 5px;
	color: #fff;
}
.setMeal{
	background: url(../img/setMeal.png);
	width: 100%;
	height: 80px;
	background-size: 100% 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	text-align: right;
    line-height: 116px;
}
.setMeal button{
	width: 140px;
	height: 30px;
	background: linear-gradient(90deg, #FB6E7E 0%, #FD7E70 100%);
	box-shadow: 0px 1px 10px 0px rgba(203, 90, 84, 0.8);
	border-radius: 10px;
	color: #fff;
	/*方正楷体*/
	font-family:myFirstFont;
	animation: setMealButton 1s linear alternate infinite;
	margin-right: 50px;
}
.setMeal button span{
	font-size: 18px;
	font-weight: bold;
	color: #FFFC00;
}
@keyframes setMealButton{
    0%{transform:scale(0.9);}
    100%{transform:scale(1);}
}
.recommendContent.optimal h1{
	background: url(../img/recommendTitle.png);
	width: 100%;
	height: 59px;
    background-size: 100% 100%;
    text-align: center;
    line-height: 65px;
    padding: 0;
    font-size: 30px;
    color: #86190f;
	/*方正楷体*/
	font-family:myFirstFont;
}
.recommendContent.optimal h1::before{
	content: "";
	display: none;
}
.recommendContent.optimal ul{
	padding-bottom: 15px;
}
.recommendContent.optimal ul li{
	width: 25%;
	text-align: center;
    margin: 8px 0;

}
.recommendContent.optimal ul li img {
	width: 40px;
	height: 40px;
	margin-bottom: 5px;

}
.recommendContent.optimal ul li p{
	color: #86190F;
	font-weight: 500;
	font-size: 12px;
}
/*起名支付*/
.orderPayment{
	padding: 15px;
}
.orderList,.solutionRecord{
	background: #FFFFFF;
	box-shadow: 0px 2px 10px 0px rgba(222, 222, 222, 0.8);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 15px;
}
.orderList>h1{
	font-size: 14px;
    color: #000;
    font-weight: 500;
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.orderList>p{
	color: #000;
	font-size: 12px;
	line-height: 26px;
}
.orderList .amount p{
	color: #000;
    font-weight: 500;
}
.orderList .amount p.red{
	color: #BA3B2E;
}
.orderList .amount p span{
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
}
.orderList ul li {
	padding: 12px 0;
}
.orderList ul li p img{
	width: 25px;
	height: 25px;
}
.orderList ul li p span{
	padding-left: 10px;
}
.orderList ul li  div img{
	width: 21px;
	height: 21px;
}
.orderList ul li  div img:first-child, .orderList ul li.active div img:last-child {
    display: block;
}
.orderList ul li div img:last-child, .orderList ul li.active div img:first-child {
    display: none;
}
.button{
	width: 80%;
	height: 40px;
	background: linear-gradient(90deg, #F96784 0%, #FF8A66 100%);
	box-shadow: 0px 1px 10px 0px rgba(203, 90, 84, 0.6);
	border-radius: 5px;
	color: #fff;
}
/*个人中心*/
.myInfo ul li{
	border-bottom:1px solid #DCDCDC;
	padding: 15px 0;
}
.myInfo ul li:first-child{
	padding: 0 0 10px 0;
}
.solutionRecord h1{
	font-size: 30px;
    color: #000;
    font-weight: 500;
    border-right: 1px solid #E5E5E5;
    display: inline-block;
    padding-right: 10px;
	margin-right: 10px;
}
.solutionRecord .h1Bg{
	background: url(../img/textBg.png);
	background-size: 100%;
	width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-right: 0;
    position: relative;
    margin-right: 20px;
    border-right: none;
}
.solutionRecord .h1Bg::after{
	content: '';
    border-right: 1px solid #E5E5E5;
    position: absolute;
    right: -10px;
    top: 5%;
    width: 1px;
    height: 90%;
}
.solutionRecord div p{
	font-size: 12px;
	color: #000;
	font-weight: bold;
}
.solutionRecord a{
	width: 70px;
	height: 30px;
	display: inline-block;
	background: linear-gradient(90deg, #FF6686 0%, #FE8076 100%);
	box-shadow: 0px 2px 8px 0px rgba(211, 173, 173, 0.8);
	border-radius: 5px;
	color: #fff;
	line-height: 30px;
    text-align: center;
}
.customer{
	padding-top: 25px;
}
.customer img{
	width: 83px;
	height: 73px;
}
.customer p{
	font-size: 18px;
	font-weight: 500;
	color: #333;
	padding: 25px;
}
/*我的订单*/
.myOrder{

}
.myOrder li {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px 0px rgb(233 212 180 / 50%);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
.myOrder li p.titleNum{
	padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
    color: #666;
    font-size: 12px;
	margin-bottom: 10px;
}
.myOrder li .setMealLeft .textBg{
	width: 35px;
    height: 35px;
    font-size: 24px;
    line-height: 35px;
}
.myOrder li .setMealLeft p,.myOrder li .setMealTwo p{
	font-size: 12px;
}
.myOrder li .setMealTwo p{

}
.myOrder li .setMealLeft p:last-child span:first-child,.myOrder li.setMealTwo .setMealLeft p:first-child,.myOrder li.setMealTwo .setMealLeft p:nth-child(2){
	color: #333;
	font-weight: bold;
}
.myOrder li .text-right{
	color: #333;
}
.myOrder li .text-right span:last-child{
	color:#EC6941;
	font-size: 18px;
	font-weight: 500;
}
.myOrder li .orderButton{
	border-top: 1px solid #e7e7e7;
    display: block;
    padding-top: 5px;
    margin-top: 5px;
    text-align: right;
}
.myOrder li .orderButton a button{
	background: #88ABDA;
	border-radius: 5px;
	color: #fff;
	padding: 5px 10px;
	width: 76px;
    text-align: center;
	margin-left: 10px;
	font-size: 12px;
}
.myOrder li.unpaid p.titleNum span:last-child{
	color: #22AC38;
}
.myOrder li.unpaid .orderButton a:first-child button{
	background: #ACD598;
}
.myOrder li.unpaid .orderButton a:last-child button{
	background: #F29B76;
}
.contentFixed{
	position: fixed;
    left: 0;
    z-index: 2;
    background: #fefaf4;
    width: 100%;
}
.padding-t-190{
	padding-top: 190px;
}
.swiperTopFixed{
	position: fixed;
    z-index: 2;
    top: 149px;
}


	
	